// Navigation code here


.navigation{
    width: 100%;
    background-color:@nav-bg;
    border: 1px solid @nav-border;
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    @media @phone{
        background-color:fade(hsl(90, 90%, 50%), 10%);
        padding: 17px;
        }
    h1{
        font-size: 4rem;
        padding-top: 1.5rem;
        @media @phone{
            font-size: 3rem;
        }
    }
    nav{
        max-width: 70%;
        font-size: 1.6rem;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        display: flex;
        margin: 0 auto;
        @media @phone{
            max-width: 100%;
        }
        a{
            .nav-a-mixin();
            &:hover{
                .nav-a-hover-mixin();
            }
        }
    }
}       
    

